@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#left_panel {
    background-image: url('../imgs/3b53e22ce8f7ffdc9a504954fb6644bf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 24px;
}

#footer {
    position: fixed;
}

@media only screen and (min-width: 1646px) {
    #bottom_footer {
        width: 390%;
    }

    #text_field {
        width: 200%;
    }
}

@media only screen and (min-width: 1359px) and (max-width: 1646px) {
    #bottom_footer {
        width: 310%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1359px) {
    #bottom_footer {
        width: 270%;
    }
}

@media only screen and (min-width: 1185px) and (max-width: 1200px) {
    #bottom_footer {
        width: 260%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1185px) {
    #bottom_footer {
        width: 220%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px) {
    #bottom_footer {
        width: 190%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    #bottom_footer {
        width: 190%;
    }

    #text_field {
        width: 100%;
    }
}

@media only screen and (max-width: 742px) {
    #bottom_footer {
        width: 120%;
    }

    #text_field {
        width: 50%;
    }
}